.background{
    position: absolute;
    top: 0;
    left: 0;
}

.main{
    position: absolute;
    width: 600px;
    height: 450px;
}
.sprite01{
    position: absolute;
    top: 102px;
    left: 500px;
    transform: scale(0.5);
    transition: left 4s;
    transition-timing-function: ease-in;
    transition-delay: 2s;
    
   &:hover {
    transition: left 4s;
    left: 300px;
    }
    // // animation-timing-function: ease-in;
    // &--trans {
    //     left: 700px;
    // }

}

.sprite02{
    position: absolute;
    top: 175px;
    left: 500px;
    transform: scale(0.5);
}
.sprite03{
    position: absolute;
    top: 30px;
    left: 500px;

    transform: scale(0.5);
}
.cmdmenu{
    position: absolute;
    top: 315px;
    left:156px;
    visibility: hidden;
    transition: transform .2s;
    scale:calc(0);

    &__show {
        position: absolute;
        top: 315px;
        left:156px;
        visibility:visible;
        transform:scale(1);
    }

}
.cmdtext{
    position: absolute;
    left: 0;
    visibility: hidden;
    transition: transform .2s;
    scale:calc(0);

    &__show {
        position: absolute;
        left: 189px;
        visibility:visible;
        transform:scale(1);
    }

}

.pos00 {
    position: absolute;
    top: 10px + 315px;
    left: 171px;
    visibility: hidden;
}
.pos01 {
    position: absolute;
    top: 10px + 315px;
    left: 171px;
}

.pos02 {
    position: absolute;
    top: 33px+ 315px;
    left: 171px;

}
.pos03 {
    position: absolute;
    top: 56px + 315px;
    left: 171px;
}
.pos04 {
    position: absolute;
    top: 79px + 315px;
    left: 171px;
    
}
.pos05 {
    position: absolute;
    top: 102px+ 315px;
    left: 171px;
}
.itempos01 {
    position: absolute;
    top: 17px+ 315px;
    left: 10px;
    z-index: 11;
}
.itempos02 {
    position: absolute;
    top: 38px+ 315px;
    left: 10px;
    z-index: 11;
}
.itempos03 {
    position: absolute;
    // top: 38px+ 315px;
    // left: 310px;
    top: 160px;
    left: 500px;
    z-index: 11;
}
// .charpos01 {
//     position: absolute;
//     top: 180px;
//     left: 510px;
//     z-index: 11;
//     transition: ease-in;
//     visibility: hidden;

//     &--start {
//         position: absolute;
//         left: 640px;
//         transform: translateX(140px)
//     }
// }
.menutext01 {
    position: absolute;
    top: 10px+ 315px;
    left: 0px;
    color: white;
    font-weight: bold;
}
.menutext02 {
    position: absolute;
    top: 33px + 315px;
    left: 0px;
    color: white;
    font-weight: bold;
}
.menutext03 {
    position: absolute;
    top: 56px+ 315px;
    left: 0px;
    color: white;
    font-weight: bold;
}
.menutext04 {
    position: absolute;
    top: 79px+ 315px;
    left: 0px;
    color: white;
    font-weight: bold;
}
.menutext05 {
    position: absolute;
    top: 102px+ 315px;
    left: 0px;
    color: white;
    font-weight: bold;
}

.itemmenutext01 {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 13;
}
.itemmenutext02 {
    position: absolute;
    top: 33px;
    left: 20px;
    z-index: 13;
}
.itemmenutext03 {
    position: absolute;
    top: 10px;
    left: 320px;
    z-index: 13;
}
.itemmenutext04 {
    position: absolute;
    top: 33px;
    left: 320px;
    z-index: 13;
}

// .itemmenubox {
//     position: absolute;
//     top: 0;
//     left: 0;
// }
.itemmenu {
    position: absolute;
    top: 150px+ 315px;
    left: 10;
  
    z-index: 10;
   
    visibility: hidden;
    transition: transform .2s;
    scale:calc(0);
  

    &__show {
        position: absolute;
        top: 5px + 315px;
       left: 5px;
        visibility:visible;
        transform:scale(1);
        color: white;
        font-weight: bold;
     

        img {
            position: relative;
        }
        p {
            position: absolute;
            top: 10px + 315px;
            left: 120px;
            z-index: 13;
        }
    }
}

.enemymenu {
    position: absolute;
    top: 0 + 315px;
 left: 0;
}
.charmenu {
  position: absolute;
  left: 278px;
  top: 0px + 315px;
}

.chartext {
    position: absolute;
    left: 20px;
    top: 0px;
    color: white;
    font-weight: bold;

&--ch01 {
    position: absolute;
    top: 15px;
    width: 200px;
    &__health {

        position: absolute;
        top: 15px;
        left: 185px;
        width: 100px;
        text-align: right;
    }
}
&--ch02 {
    position: absolute;
    top: 35px;
    width: 200px;
    &__health {

        position: absolute;
        top: 35px;
        left: 185px;
        width: 100px;
        text-align: right;
    }
}
&--ch03 {
    position: absolute;
    top: 55px;
    width: 200px;
    &__health {

        position: absolute;
        top: 55px;
        
        left: 185px;
        width: 100px;
        text-align: right;
    }
}

    &__health {
        position: absolute;
        top: 0px;
        left: 200px;
        width: 100px;
    }
}


.btn {
    position: relative;
    top: 500px + 315px;
    background-color: green;
    color: white;
}